BODY {
	FONT: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif
}
HTML {
	BACKGROUND: #fff; COLOR: #404040
}
LEGEND {
	BACKGROUND: #fff; COLOR: #404040
}
BODY {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
PRE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
CODE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TH {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TABLE {
	BORDER-SPACING: 0
}
FIELDSET {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
IMG {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
H1 {
	FONT-SIZE: 18px
}
H2 {
	FONT-SIZE: 16px
}
H3 {
	FONT-SIZE: 14px
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
ABBR {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; FONT-VARIANT: normal; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
ACRONYM {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; FONT-VARIANT: normal; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
SUP {
	VERTICAL-ALIGN: text-top
}
SUB {
	VERTICAL-ALIGN: text-bottom
}
INPUT {
	FONT-SIZE: inherit; FONT-FAMILY: inherit; FONT-WEIGHT: inherit
}
BUTTON {
	FONT-SIZE: inherit; FONT-FAMILY: inherit; FONT-WEIGHT: inherit
}
TEXTAREA {
	FONT-SIZE: inherit; FONT-FAMILY: inherit; FONT-WEIGHT: inherit
}
SELECT {
	FONT-SIZE: inherit; FONT-FAMILY: inherit; FONT-WEIGHT: inherit
}
INPUT {

}
BUTTON {

}
TEXTAREA {

}
SELECT {

}
SELECT {
	FONT: 100% Tahoma, Helvetica, Arial, sans-serif
}
INPUT {
	FONT: 100% Tahoma, Helvetica, Arial, sans-serif
}
BUTTON {
	FONT: 100% Tahoma, Helvetica, Arial, sans-serif
}
TEXTAREA {
	FONT: 100% Tahoma, Helvetica, Arial, sans-serif
}
TABLE {
	FONT-SIZE: inherit
}
A {
	COLOR: #08c; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.long-btn {
	CURSOR: pointer; FONT-SIZE: 12px; BORDER-TOP: medium none; HEIGHT: 25px; BORDER-RIGHT: medium none; BACKGROUND: url(https://s.tbcdn.cn/sys/common/img/btn_bg.png) no-repeat 0px -300px; BORDER-BOTTOM: medium none; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; BORDER-LEFT: medium none; DISPLAY: inline-block; LINE-HEIGHT: 25px; WIDTH: 100px
}
A.long-btn:hover {
	COLOR: #fff
}
.clearfix:after {
	HEIGHT: 0px; CONTENT: '\0020'; CLEAR: both; DISPLAY: block
}
.clearfix {
	ZOOM: 1
}
.ks-overlay {
	POSITION: absolute; LEFT: -9999px; Z-INDEX: 100001; TOP: -9999px
}
.ks-ext-mask {
	FILTER: alpha(opacity = 50); Z-INDEX: 100002; BACKGROUND-COLOR: #000; opacity: .5
}
.login-box .field {
	POSITION: relative; Z-INDEX: 1
}
.pwd-field {
	Z-INDEX: 2
}
.loading.login-box .bd {
	DISPLAY: none
}
.loading.login-box {
	HEIGHT: 270px; BACKGROUND: url(../images/loading.gif) no-repeat 50% 50%
}
.capslock-tip {
	BORDER-TOP: #d4c9b3 1px solid; BORDER-RIGHT: #d4c9b3 1px solid; BORDER-BOTTOM: #d4c9b3 1px solid; POSITION: absolute; COLOR: #f00; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 5px; LEFT: 0px; BORDER-LEFT: #d4c9b3 1px solid; LINE-HEIGHT: 16px; TOP: 52px; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #fff8e7; border-radius: 3px
}
.show.capslock-tip {
	animation: cpaslock-show .5s; -webkit-animation: capslocktip-show .5s
}
.capslock-tip I {
	OVERFLOW: hidden; HEIGHT: 6px; BACKGROUND: url(../images/phone-tip.png) no-repeat 0px 0px; POSITION: absolute; LEFT: 8px; DISPLAY: block; WIDTH: 12px; BOTTOM: -6px
}
.capslock-tip A {
	HEIGHT: 16px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/stuff.png) no-repeat -325px -367px; ZOOM: 1; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; MARGIN-LEFT: 2px; DISPLAY: inline-block; OUTLINE-COLOR: invert; WIDTH: 16px; TEXT-INDENT: -9999em
}
#footer {
	BORDER-TOP: #d1d7dc 1px solid; TEXT-ALIGN: center; PADDING-TOP: 10px; CLEAR: both; MARGIN: 10px auto
}
#footer .foot-nav {
	HEIGHT: 20px; MARGIN: 0px auto; DISPLAY: block
}
#footer .foot-nav A {
	MARGIN: 0px 7px
}
#footer .ali-group {
	MARGIN: 5px auto
}
#footer .ali-group A {
	MARGIN: 0px 1px
}
#footer .copyright {
	CLEAR: both; MARGIN: 15px auto 0px
}
#server-num {
	FONT-SIZE: 11px; COLOR: #fff
}
.g_foot {
	POSITION: relative; COLOR: #b0b0b0; PADDING-BOTTOM: 9px; TEXT-ALIGN: left; PADDING-TOP: 7px; FONT: 12px/1.5 tahoma, arial, 宋?b体; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.g_foot A {
	COLOR: #3e3e3e; TEXT-DECORATION: none; MARGIN: 0px 4px
}
.g_foot A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.g_foot-ali {
	BORDER-BOTTOM: #d3d3d3 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 0px
}
.g_foot-nohover {
	CURSOR: default
}
.g_foot-nohover:hover {
	COLOR: #3e3e3e !important; TEXT-DECORATION: none !important
}
.g_foot-ali B {
	FONT-WEIGHT: normal; COLOR: #d3d3d3; MARGIN: 0px 4px
}
.g_foot-nav {
	MARGIN-TOP: 8px; LINE-HEIGHT: 20px
}
.g_foot-nav SPAN {
	MARGIN-LEFT: 50px
}
.g_foot-toy {
	HEIGHT: 100px; BACKGROUND: url(../images/ttoy.png) no-repeat; RIGHT: 0px; POSITION: absolute; ZOOM: 0.7; DISPLAY: block; TOP: -2px; WIDTH: 69px
}
.g_foot-line {
	HEIGHT: 1px; BACKGROUND: url(../images/line.png) no-repeat; RIGHT: 45px; POSITION: absolute; DISPLAY: block; TOP: 33px; WIDTH: 104px
}
#page {
	MARGIN-LEFT: auto; WIDTH: 950px; MARGIN-RIGHT: auto
}
#page3 {
	MARGIN-LEFT: auto; WIDTH: 950px; MARGIN-RIGHT: auto
}
.login-box .msg P.error {
	BORDER-TOP-COLOR: #ff8080; BACKGROUND: url(../images/stuff.png) #fff2f2 no-repeat -319px -449px; PADDING-BOTTOM: 2px; BORDER-BOTTOM-COLOR: #ff8080; PADDING-TOP: 2px; PADDING-LEFT: 23px; BORDER-RIGHT-COLOR: #ff8080; LINE-HEIGHT: 18px; PADDING-RIGHT: 10px; BORDER-LEFT-COLOR: #ff8080
}
.login-box .msg P {
	WORD-WRAP: break-word; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; WHITE-SPACE: normal; BORDER-BOTTOM: #ccc 1px solid; FLOAT: none; BORDER-LEFT: #ccc 1px solid
}
BODY {
	BACKGROUND-IMAGE: none
}
#header {
	PADDING-TOP: 0px
}
#logo {
	PADDING-BOTTOM: 0px; PADDING-TOP: 20px; PADDING-LEFT: 52px; PADDING-RIGHT: 0px
}
.login {
	POSITION: relative; MIN-HEIGHT: 400px; _height: 400px
}
.login-bg {
	OVERFLOW: hidden; HEIGHT: 280px; POSITION: absolute; LEFT: 50px; Z-INDEX: 0; TOP: 0px; WIDTH: 500px
}
.login-box {
	BORDER-TOP: #dedede 1px solid; BORDER-RIGHT: #dedede 1px solid; BORDER-BOTTOM: #dedede 1px solid; POSITION: relative; MARGIN: 48px 0px 48px 600px; BORDER-LEFT: #dedede 1px solid; Z-INDEX: 1; WIDTH: 310px
}
.login-box .hd {
	HEIGHT: 39px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.login-box .hd LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.login-box .hd H2 {
	OVERFLOW: hidden; FONT-SIZE: 14px; HEIGHT: 35px; BORDER-BOTTOM: #ededed 1px solid; COLOR: #4d4d4d; PADDING-LEFT: 10px; Z-INDEX: 1; DISPLAY: block; LINE-HEIGHT: 36px
}
.module-static .hd {
	DISPLAY: none
}
.module-dynamic .hd {
	DISPLAY: none
}
.alipay-page .module-static .hd {
	DISPLAY: block
}
.alipay-page .module-dynamic .hd {
	DISPLAY: block
}
.module-static {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.module-dynamic {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.alipay-page .module-static {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.alipay-page .module-dynamic {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.login-box .bd .taobao-box {
	ZOOM: 1; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px
}
.login-box .bd .alipay-box {
	ZOOM: 1; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px
}
.login-box .bd .alipay-box {
	PADDING-BOTTOM: 20px
}
.login-box #J_Mobile {
	MARGIN-BOTTOM: 10px
}
.login-box .field {
	ZOOM: 1; PADDING-BOTTOM: 12px
}
.login-box .dynamic .field {
	PADDING-BOTTOM: 7px
}
.login-box .field LABEL {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; DISPLAY: block
}
.login-box .login-text {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 18px; BORDER-RIGHT: #ccc 1px solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 18px; PADDING-RIGHT: 3px; WIDTH: 242px
}
* + HTML .login-box .login-text {
	MARGIN-LEFT: -2px
}
.login-box INPUT.tb-input-hint {
	COLOR: silver
}
.login-box .password-edit {
	OVERFLOW: hidden; HEIGHT: 28px; VERTICAL-ALIGN: middle; MARGIN-LEFT: -1px; DISPLAY: inline-block; _margin-left: -1px
}
#J_StandardPwd {
	HEIGHT: 28px; VERTICAL-ALIGN: middle; DISPLAY: inline-block
}
.login-box .password-edit-tmp {
	OVERFLOW: hidden; HEIGHT: 0px; DISPLAY: block; WIDTH: 0px
}
.J_CheckCode {
	IME-MODE: disabled
}
.login-box .mobile-num {
	BACKGROUND: url(../images/stuff.png) #fff no-repeat 234px -164px
}
.login-box .mobile-check {
	WIDTH: 80px
}
.login-box .field-checkcode {
	POSITION: static; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.login-box .checkcode {
	WIDTH: 65px
}
.login-box .only_img_code .checkcode {
	MARGIN-RIGHT: 1px
}
.login-box .audio_code {
	HEIGHT: 16px; VERTICAL-ALIGN: middle; ZOOM: 1; DISPLAY: inline-block; WIDTH: 16px
}
.login-box .field .warning-tip {
	FONT-WEIGHT: 400; COLOR: #ff0a0a; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; DISPLAY: block; PADDING-RIGHT: 0px
}
.login-box .highlight {
	BORDER-TOP: #f63 1px solid; BORDER-RIGHT: #f63 1px solid; BORDER-BOTTOM: #f63 1px solid; BORDER-LEFT: #f63 1px solid
}
.login-box .code-tip {
	PADDING-BOTTOM: 2px; PADDING-TOP: 5px; PADDING-LEFT: 92px; DISPLAY: block; PADDING-RIGHT: 0px
}
.login-box .change-code {
	VERTICAL-ALIGN: middle; COLOR: #666; MARGIN: 0px; DISPLAY: inline-block; LINE-HEIGHT: 14px
}
.login-box .change-code:hover {
	COLOR: #f60
}
.login-box .check-code-img {
	BORDER-TOP: 0px; HEIGHT: 26px; BORDER-RIGHT: 0px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 80px; MARGIN-RIGHT: 1px
}
.login-box .field .select-wrap {
	BORDER-TOP: #c8c8c8 1px solid; HEIGHT: 24px; BORDER-RIGHT: #c8c8c8 1px solid; VERTICAL-ALIGN: middle; BACKGROUND: #fff; BORDER-BOTTOM: #c8c8c8 1px solid; POSITION: relative; BORDER-LEFT: #c8c8c8 1px solid; DISPLAY: inline-block; WIDTH: 180px
}
* + HTML .login-box .field .select-wrap {
	MARGIN-LEFT: -2px
}
.login-box .field SELECT {
	BORDER-TOP: 0px; HEIGHT: 20px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; POSITION: absolute; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; LEFT: 2px; BORDER-LEFT: 0px; OUTLINE-COLOR: invert; LINE-HEIGHT: 20px; TOP: 2px; WIDTH: 176px
}
.login-box .tip {
	COLOR: #808080
}
.login-box .submit {
	OVERFLOW: hidden; ZOOM: 1; CLEAR: both
}
.login-box .submit BUTTON {
	OVERFLOW: hidden; CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: 0px; HEIGHT: 33px; BORDER-RIGHT: 0px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/c.png) no-repeat 0px 0px; BORDER-BOTTOM: 0px; ZOOM: 1; FONT-WEIGHT: bold; COLOR: #fff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 31px; WIDTH: 250px
}
.login-box .submit BUTTON:hover {
	BACKGROUND-POSITION: 0px -33px
}
.login-submit BUTTON.hover {
	BACKGROUND-POSITION: 0px -33px
}
.login-box .safe {
	PADDING-TOP: 5px
}
.login-box .submit {
	PADDING-TOP: 5px
}



.login-box .submit2 {
	OVERFLOW: hidden; ZOOM: 1; CLEAR: both
}
.login-box .submit2 BUTTON {
	OVERFLOW: hidden; CURSOR: pointer; FONT-SIZE: 14px; BORDER-TOP: 0px; HEIGHT: 33px; BORDER-RIGHT: 0px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/c.png) no-repeat 0px 0px; BORDER-BOTTOM: 0px; ZOOM: 1; FONT-WEIGHT: bold; COLOR: #fff; BORDER-LEFT: 0px; DISPLAY: inline-block; LINE-HEIGHT: 31px; WIDTH: 250px
}
.login-box .submit2 BUTTON:hover {
	BACKGROUND-POSITION: 0px -33px
}
.login-submit2 BUTTON.hover {
	BACKGROUND-POSITION: 0px -33px
}

.login-box .submit2 {
	PADDING-TOP: 5px
}


.login-box .safe {
	POSITION: relative; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.login-box .safe INPUT {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 3px
}
.login-box .safe LABEL {
	VERTICAL-ALIGN: middle; COLOR: #aaa
}
.dynamic .static-pwd {
	PADDING-BOTTOM: 5px; TEXT-ALIGN: right
}
.dynamic .static-link {
	BACKGROUND: url(../images/c.png) no-repeat 98px -179px; COLOR: #666; PADDING-RIGHT: 13px
}
.dynamic .static-link:hover {
	COLOR: #f60
}
.login-box UL.entries {
	OVERFLOW: hidden; ZOOM: 1; PADDING-TOP: 8px
}
.login-box UL.entries LI {
	WORD-BREAK: keep-all; FLOAT: left
}
.login-box UL.entries .dynamic-pwd {
	PADDING-LEFT: 23px
}
.login-box UL.entries .other-login {
	COLOR: #666
}
.login-box UL.entries .other-login A {
	OVERFLOW: hidden; VERTICAL-ALIGN: middle; ZOOM: 1; PADDING-LEFT: 16px; DISPLAY: inline-block
}
.alipay-login {
	BACKGROUND: url(../images/c.png) no-repeat 0px -144px
}
.weibo-login {
	BACKGROUND: url(../images/ico-weibo.png) no-repeat 0px 50%; PADDING-LEFT: 20px !important
}
.login-box UL.entries .register {
	FLOAT: right
}
.login-box UL.entries A {
	COLOR: #666
}
.login-box UL.entries .register A {
	COLOR: #08c
}
.login-box UL.entries .return-alipay-link {
	COLOR: #08c
}
.login-box UL.entries A:hover {
	COLOR: #f60
}
.login-box UL.entries .return-alipay-link:hover {
	COLOR: #f60
}
.login-box .forget-pw {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.login-box .dynamic-link {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.login-box .dynamic-link {
	BACKGROUND: url(../images/c.png) no-repeat 98px -108px; COLOR: #666; PADDING-RIGHT: 12px
}
.login-box .dynamic-link:hover {
	COLOR: #f60
}
.login-box .msg {
	OVERFLOW: hidden; MARGIN-BOTTOM: 5px
}
.login-box .msg P {
	WORD-WRAP: break-word; WHITE-SPACE: normal; FLOAT: none
}
.login-box .msg P.error {
	BACKGROUND-IMAGE: url(../images/stuff.png); BACKGROUND-POSITION: -319px -449px
}
.login-box .msg P.dynamic {
	BORDER-TOP: #ffcc7f 1px solid; BORDER-RIGHT: #ffcc7f 1px solid; BACKGROUND: url(../images/sending.gif) #ffffe5 no-repeat 8px 4px; BORDER-BOTTOM: #ffcc7f 1px solid; COLOR: #404040; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 30px; BORDER-LEFT: #ffcc7f 1px solid; LINE-HEIGHT: 18px; PADDING-RIGHT: 10px
}
.login-help {
	BACKGROUND: url(../images/arrow_box_bg.png) no-repeat
}
.login-help .hd {
	BACKGROUND: url(../images/arrow_box_bg.png) no-repeat
}
.login-help .bd {
	BACKGROUND: url(../images/arrow_box_bg.png) no-repeat
}
.login-help .ft {
	BACKGROUND: url(../images/arrow_box_bg.png) no-repeat
}
.login-help {
	BACKGROUND-REPEAT: repeat-y; POSITION: absolute; BACKGROUND-POSITION: -540px 0px; LEFT: 35px; Z-INDEX: 2; TOP: 48px; WIDTH: 455px
}
.login-help .hd {
	HEIGHT: 20px; BACKGROUND-POSITION: -50px 0px; PADDING-TOP: 14px; LINE-HEIGHT: 20px
}
.login-help .hd H2 {
	FONT-SIZE: 14px; BACKGROUND: url(../images/stuff.png) no-repeat -308px -385px; TEXT-INDENT: 35px
}
.login-help .bd {
	BACKGROUND-POSITION: 428px 40%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 14px; PADDING-RIGHT: 36px
}
.login-help .bd DT {
	BACKGROUND: url(../images/stuff.png) no-repeat -318px -415px; FONT-WEIGHT: bold; PADDING-LEFT: 20px; MARGIN-TOP: 12px; LINE-HEIGHT: 22px
}
.login-help .bd DD {
	PADDING-LEFT: 20px; LINE-HEIGHT: 20px
}
.login-help .ft {
	HEIGHT: 24px; BACKGROUND-POSITION: -1020px bottom
}
.install-plugin-popup {
	BORDER-TOP: #bcbcbc 1px solid; BORDER-RIGHT: #bcbcbc 1px solid; BACKGROUND: #efefef; BORDER-BOTTOM: #bcbcbc 1px solid; POSITION: absolute; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; BORDER-LEFT: #bcbcbc 1px solid; PADDING-RIGHT: 3px; WIDTH: 341px
}
.install-plugin-popup .wrap {
	BORDER-TOP: #dedede 1px solid; BORDER-RIGHT: #dedede 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid
}
.install-plugin-popup .hd {
	HEIGHT: 32px; BACKGROUND: url(../images/stuff.png) no-repeat 0px 0px; PADDING-LEFT: 20px
}
.install-plugin-popup H3 {
	FONT-SIZE: 14px; HEIGHT: 32px; COLOR: #fff; LINE-HEIGHT: 32px
}
.install-plugin-popup .close {
	OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 15px; RIGHT: 14px; POSITION: absolute; LINE-HEIGHT: 100px; TOP: 12px; WIDTH: 15px
}
.install-plugin-popup .bd {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px
}
.install-plugin-popup .bd H4 {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.install-plugin-popup .bd UL {
	COLOR: #636363; MARGIN: 5px 0px 8px
}
.install-plugin-popup .bd UL LI {
	BACKGROUND: url(../images/stuff.png) no-repeat 0px -40px; PADDING-LEFT: 8px; LINE-HEIGHT: 20px
}
.install-plugin-popup .bd STRONG {
	FONT-SIZE: 12px; BACKGROUND: url(../images/stuff.png) no-repeat -326px -62px; COLOR: #f60; PADDING-LEFT: 15px; DISPLAY: block
}
.install-plugin-popup .bd .buttons {
	TEXT-ALIGN: center; MARGIN: 18px 0px 2px
}
* HTML .popup-shim {
	BORDER-TOP: 0px; HEIGHT: 100%; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; POSITION: absolute; LEFT: 0px; FILTER: alpha(opacity=0); BORDER-LEFT: 0px; Z-INDEX: 100001; TOP: 0px; WIDTH: 100%
}
.beta-tip {
	MARGIN-BOTTOM: 20px; TEXT-ALIGN: center
}
.long-login-hover {
	BACKGROUND: url(../images/sprit2.png) no-repeat 0px 0px
}
.safe-login-hover {
	BACKGROUND: url(../images/sprit2.png) no-repeat 0px 0px
}
.long-login-help {
	OVERFLOW: hidden; FONT-SIZE: 0px; HEIGHT: 12px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/stuff.png) no-repeat -325px -367px; ZOOM: 1; DISPLAY: inline-block; WIDTH: 12px; TEXT-INDENT: -1000px
}
.long-login {
	OVERFLOW: hidden; HEIGHT: 22px; VERTICAL-ALIGN: middle; POSITION: relative; ZOOM: 1; COLOR: #999; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 3px; Z-INDEX: 5; DISPLAY: inline-block; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px
}
.safe-login {
	OVERFLOW: hidden; HEIGHT: 22px; VERTICAL-ALIGN: middle; POSITION: relative; ZOOM: 1; COLOR: #999; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 3px; Z-INDEX: 5; DISPLAY: inline-block; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px
}
.long-login-hover {
	BACKGROUND-POSITION: 0px 2px
}
.safe-login-hover {
	BACKGROUND-POSITION: 0px 2px
}
.login-tips {
	OVERFLOW: visible; WORD-WRAP: break-word; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BACKGROUND-POSITION: 0px -26px; COLOR: #ca3e12; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; PADDING-LEFT: 5px; CLEAR: both; FILTER: alpha(opacity=85); BORDER-LEFT: #ccc 1px solid; MARGIN-TOP: -1px; DISPLAY: none; LINE-HEIGHT: 18px; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #fff; opacity: .85; border-radius: 4px; _margin-top: 0
}
.login-box .safe INPUT {
	MARGIN-RIGHT: 6px
}
.submit .long-login {
	HEIGHT: 22px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; PADDING-LEFT: 3px; MARGIN-LEFT: 80px; MARGIN-TOP: 4px; DISPLAY: block; LINE-HEIGHT: 22px; PADDING-RIGHT: 0px; WIDTH: 120px
}
.submit .long-login INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.submit .login-tips {
	POSITION: relative; Z-INDEX: 1; MARGIN-TOP: -1px
}
.submit .long-login-hover {
	BACKGROUND-POSITION: 0px 0px
}
.dynamic-tips {
	BORDER-TOP: #ded9bf 1px solid; BORDER-RIGHT: #ded9bf 1px solid; BORDER-BOTTOM: #ded9bf 1px solid; MARGIN: 0px 0px 8px; BORDER-LEFT: #ded9bf 1px solid; BACKGROUND-COLOR: #fcfbe5
}
.dynamic-tips .rc-tp {
	OVERFLOW: hidden; HEIGHT: 1px; DISPLAY: block
}
.dynamic-tips .rc-bt {
	OVERFLOW: hidden; HEIGHT: 1px; DISPLAY: block
}
.dynamic-tips .rc-tp S {
	HEIGHT: 1px; DISPLAY: block; WIDTH: 1px; BACKGROUND-COLOR: #fafafa
}
.dynamic-tips .rc-bt S {
	HEIGHT: 1px; DISPLAY: block; WIDTH: 1px; BACKGROUND-COLOR: #fafafa
}
.dynamic-tips .rc-tp .r {
	FLOAT: right
}
.dynamic-tips .rc-bt .r {
	FLOAT: right
}
.dynamic-tips .rc-tp .l {
	FLOAT: left
}
.dynamic-tips .rc-bt .l {
	FLOAT: left
}
.dynamic-tips {
	OVERFLOW: hidden; ZOOM: 1
}
.dynamic-tips .tips {
	OVERFLOW: hidden; ZOOM: 1
}
.dynamic-tips .tips {
	COLOR: #808080; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 10px; MARGIN: -1px 0px; PADDING-RIGHT: 10px
}
.dynamic-tips EM {
	COLOR: #f50
}
.dynamic-tips .left-text {
	FLOAT: left; PADDING-TOP: 5px; WIDTH: 82px
}
.dynamic-tips .right-text {
	FLOAT: left; PADDING-LEFT: 10px; LINE-HEIGHT: 16px; WIDTH: 158px
}
.dynamic-tips .right-text EM {
	PADDING-LEFT: 6px
}
.login-box .dynamic .login-text {
	WIDTH: 242px
}
.login-box .dynamic .field INPUT {
	POSITION: relative
}
.login-visitor {
	HEIGHT: 46px; BACKGROUND: url(../images/visitor_bg.png) no-repeat; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.login-visitor .visitor {
	TEXT-ALIGN: center; DISPLAY: block
}
A.feedback {
	BACKGROUND: url(../images/sprit2.png) no-repeat 0px -26px; PADDING-LEFT: 18px
}
.tip_kb {
	TEXT-ALIGN: right; MARGIN: 0px 20px 5px
}
.phone-tips {
	BORDER-TOP: #d4c9b3 1px solid; HEIGHT: 16px; BORDER-RIGHT: #d4c9b3 1px solid; BORDER-BOTTOM: #d4c9b3 1px solid; POSITION: absolute; COLOR: #666; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 5px; LEFT: 50px; BORDER-LEFT: #d4c9b3 1px solid; LINE-HEIGHT: 16px; TOP: -10px; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #fff8e7; border-radius: 3px
}
.show.phone-tips {
	animation: phoneTipsShow .5s; -webkit-animation: phoneTipsShow .5s
}
.phone-tips I {
	OVERFLOW: hidden; HEIGHT: 6px; BACKGROUND: url(../images/phone-tip.png) no-repeat 0px 0px; POSITION: absolute; LEFT: 8px; DISPLAY: block; WIDTH: 12px; BOTTOM: -6px
}
.phone-tips A {
	HEIGHT: 16px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/stuff.png) no-repeat -325px -367px; ZOOM: 1; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; MARGIN-LEFT: 2px; DISPLAY: inline-block; OUTLINE-COLOR: invert; WIDTH: 16px; TEXT-INDENT: -9999em
}
.remark {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-TOP: 25px; PADDING-LEFT: 20px; DISPLAY: none; PADDING-RIGHT: 20px
}
.remark EM {
	COLOR: #999
}
.alipay-page .remark {
	PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.module-static .remark-static {
	DISPLAY: block
}
.module-dynamic .remark-dynamic {
	DISPLAY: block
}
.module-quick .remark-quick {
	DISPLAY: block
}
.nickx {
	CURSOR: pointer; HEIGHT: 16px; BACKGROUND: url(../images/x.png) no-repeat 50% 50%; POSITION: absolute; LEFT: 230px; FILTER: alpha(opacity=70); Z-INDEX: 1000; DISPLAY: none; TOP: 28px; WIDTH: 16px; opacity: .7
}
.nickx:hover {
	FILTER: alpha(opacity=100); opacity: 1
}
.ph-label {
	HEIGHT: 26px; POSITION: absolute; COLOR: #404040; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; LINE-HEIGHT: 26px; PADDING-RIGHT: 0px; opacity: 1; transition: all .2s ease-out; -webkit-transition: all .2s ease-in; -moz-transition: all .2s ease-out
}
.field-checkcode .ph-label {
	MARGIN-TOP: 2px
}
.ph-hide .ph-label {
	VISIBILITY: hidden; opacity: 0
}
.ph-focus .ph-label {
	COLOR: #aaa
}
.quick-login {
	DISPLAY: none
}
.dynamic {
	DISPLAY: none
}
.module-dynamic .static {
	DISPLAY: none
}
.module-dynamic .quick-login {
	DISPLAY: none
}
.module-quick .static {
	DISPLAY: none
}
.module-quick .dynamic {
	DISPLAY: none
}
.module-quick .quick-login {
	DISPLAY: block
}
.module-dynamic .dynamic {
	DISPLAY: block
}
.no-longlogin .long-login {
	DISPLAY: none
}
.no-longlogin .long-login-help {
	DISPLAY: none
}
.no-longlogin .login-tips {
	DISPLAY: none
}
.no-safe .safe-login {
	VISIBILITY: hidden
}
.no-reg .register {
	VISIBILITY: hidden
}
.no-dynamic .entries .register {
	BACKGROUND: 0px 50%
}
.no-dynamic .dynamic-pwd {
	DISPLAY: none
}
.hidden {
	DISPLAY: none
}
.ql-box {
	PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.ql-single .r-sso-user {
	DISPLAY: none
}
.ql-userlist .r-sso-user {
	VERTICAL-ALIGN: middle
}
.ql-box .userlist .current {
	FONT-WEIGHT: bold
}
.ql-box .userlist LI {
	HEIGHT: 2em
}
.ql-box .userlist {
	OVERFLOW: auto; HEIGHT: 8em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 10px 0px 0px; PADDING-RIGHT: 0px
}
.ql-box UL.entries A {
	COLOR: #08c
}
.ql-box UL.entries A:hover {
	COLOR: #f60
}
.site-nav{position:absolute;top:14px;right:0}
.site-nav .quick-menu li{float:left;margin-left:5px}
.site-nav .quick-menu a{float:left;height:23px;line-height:23px;padding:0 8px;position:relative;text-decoration:none}
.site-nav .quick-menu a:hover{text-decoration:underline}
.login-wrap{width:980px;margin: 0 auto; overflow: hidden;position: relative;}
.login-wrap .imgs{width:460px;height: 285px;position: absolute;top:48px;left: 60px;}
.login-wrap .imgs img{width: 460px;height:285px;border: 0;}