/* 全局样式 */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{
    margin:0;padding:0;border:0;
}
body{
    background:#fff;color:#333;font-size:12px; font-family:"SimSun","宋体","Arial Narrow";
}
ul,ol{
    list-style-type:none;
}
select,input,img,select{
    vertical-align:middle;
}
a{text-decoration:none;color: #666666;}
a:hover,a:active,a:focus{color:#c00;text-decoration:underline;}


/* header */

.topbar{width: 100%;height: 26px;background: #f5f5f5;border-bottom: 1px solid #dcdcdc;}
.grid-990{width: 990px;margin:0 auto;}
.fn-clear{zoom:1;}
.topbar-warp{height: 26px;border-bottom: 1px solid #dcdcdc;}
.topbar-warp .toplink{float: left;width: 300px;line-height: 14px;height: 14px;padding: 6px 0;}
.topbar-warp .toplink a{display: block;font-size: 12px;height: 14px;line-height: 14px;}
.topbar-warp .toplink .link{float: left;padding: 0 15px 0 0;}
.topmenu{float: right;padding: 6px 0;color: #666666;position: relative; z-index: 1000;}

.topmenu-item{float: left; padding: 1px 15px; line-height: 12px;border-left: 1px solid #fcfcfc; border-right: 1px solid #e2e2e2;}
.topmenu-item-first{border-left: none;}

.topmenu-item-dropdown{position: relative;border-left: 1px solid #fcfcfc;border-right: 1px solid #e2e2e2;}
.topmenu-item-dropdown a{float: left;}



.pic-wrap{ margin: 0 auto;width: 560px;height: 180px;overflow: hidden;position: relative;margin-left: -15px;margin-top:-2px;}
.pic-ul{height: 180px;position: relative;}
.pic-ul li,.pic-ul li img{width: 560px;height: 180px;float: left;border: 0;}

.service{width:146px;overflow: hidden;position: absolute;right: 0; }
.ser-lf{float: left;}
.ser-rg{float: right;}
.ser-rg .top{width: 116px;height: 22px;background: url("../images/qq_up.png");}
.ser-rg .body{width: 116px; overflow: hidden;}
.ser-rg .footer{width: 116px;height: 36px;background: url("../images/qq_down.png");}





td { font-size:12px; color:#666666;}
.qqup { background:url(../images/qq_up.png) left bottom no-repeat; width:114px; height:15px;}
	.qq_l { float:left; color:#666666; font-size:13px; font-weight:bold; line-height:22px; padding-left:12px;}
	.qq_r { float:right; padding-right:5px; padding-top:3px;}
.redtit { font-size:14px; font-weight:bold; color:#FF0000;}

.tit1 { color:#FF0000; font-weight:bold;}
.tit2 { color:#0E80C9; font-weight:bold; padding-left:20px;}
.tit2 a { color:#0E80C9;}
.tit2 a:hover { color:#155c98;}
#mykf{width:28px; height:100px; float:right; margin-top:100px; cursor:pointer}
.ap{margin: -20px;}

