*{margin:0;padding:0}
body{font:normal 12px/1.6 Tahoma,simsun, Verdana, Lucida, Arial, Helvetica, sans-serif;color:#636363;background:#fff;}
.t-vip{color:red; margin-right:40px;border: 1px solid red;padding: 1px;float: right;}
.cl{clear: both;}

.red{color:red;}
a:link{text-decoration:none;}

a:hover{color:#39F;text-decoration:none;}
img{border:0}
ul,li{list-style-type: none;}
h1,h2,h3{font-size:14px;font-weight:bold;}
.clear{ width:100%; height:1px; clear:both}
.wids{width:100%;}
.wid{width:900px; margin:auto}
.l{float:left;}
.r{float:right;}


.index-header{width: 100%;margin: 0 auto;height: 100px;overflow: hidden;border-bottom: 1px solid #111;}
.no-border{border-bottom:0;}
.wrap{width: 980px;height: 200px;background-color: #fff;margin: 0 auto;}
.index-header .space{height: 1px; border-bottom: 1px solid #ccc;width: 100%;position: absolute;z-index: 2;top:20px; }
.wrap .top{background: #fff; height: 20px;padding: 1px;}
.top .save {margin-left: 5px;height: 20px;width: 60px;}
.top .save a{color: #fff;background-color: #0049ff;height: 20px;width: 69px;padding:0 10px;display: block;background: url("../images/save_desktop.gif") no-repeat;}
.body{height: 180px;overflow: hidden;}
.logo{width:264px;height: 76px;float: left; }
.nav{float: right;height: 264px;margin-right: 80px;}
.fill{width: 100%;height: 10px;background: url("../images/i5.gif");}
.content{width: 100%;height: 400px;background: url("../images/i7.jpg") no-repeat center center;position: relative;}
.youku{width: 760px; height: 460px; margin-left: -400px; left: 50%; position: absolute;background: #111;top:30px;padding:20px 20px 0px 20px;background: url("../images/1d.gif");}
.youku-shadow{width: 800px; height: 15px; margin-left: -400px; left: 50%; position: absolute;background: #111;top:510px;background: url("../images/yw.gif");}
.footer{width: 960px; margin: 0 auto;text-align: center;}
.surprise{font-size: 20px;color:#1d1d1d;font-weight: bold;}
.footer a {display: block; color:#fff;background: red; width: 960px;overflow: hidden; font-size: 30px;line-height: 40px;}

.register{height: 60px;font-size: 14px; color: red;margin-top:140px;text-align: center;}
.register input{width: 300px; margin: 2px 30px;height: 20px;font-size: 13px;}
.register .submit{height:26px;width: 80px; margin-left: -30px;}
.user_0{color: #3F3F3F;}
.user_1{color: #000;}
.agencies{position: absolute;top:0;right: 0;z-index: 99999;}

.nav-b{height: 36px;
overflow: hidden;
background-color: #448ef3;}
.wfull{clear: both;
margin: auto;
width: 100%;}
.nav-box{padding: 0;
height: 36px;
line-height: 36px;}
.w960{clear: both;
margin: auto;
width: 960px;}

.nav-box a.nav-select{background-color: #ff9e40;
border-left: 2px solid #FFF;
border-right: 2px solid #FFF;}
.nav-box a{
display: block;
padding: 0 35px;
height: 36px;
font-size: 16px;
font-weight: normal;
color: #FFF;
width: 68px;
text-align: center;
}
.check-f{width: 100%;text-align: center;}
.check-f p{color: #105069;}
.search-f{width: 580px;height: 400px;margin: 0 auto;background: url("../images/bg_auto.jpg") no-repeat;margin-top:50px;border-bottom: 1px solid #e6e6e6;}
.inp-metro{
width: 414px;
height: 30px;
line-height: 30px;
vertical-align: middle;
padding: 4px 8px;
font-size: 18px;
color: #333;
border: 1px solid #BCBCBC;}
.inp-metro:hover{
border: 1px solid #b9b9b9;
border-top: 1px solid #a0a0a0;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.input-box{margin-top: 0px;position: relative;}
.btn-query{
display: inline-block;
padding: 0;
width: 148px;
height: 40px;
line-height: 40px;
overflow: hidden;
vertical-align: middle;
text-indent: -65535px;
cursor: pointer;
border: none;
background: url("../images/btn_metro.png") 0 0 no-repeat;
}
.search-box p{height: 20px; line-height: 20px; margin: 10px 0;}
.no-jiameng,.is-jiameng{position: absolute;left: 200px;width: 100px;height: 100px;top: -30px;display: none;}
.no-jiameng{background: url("../images/dao.png");}
.is-jiameng{background: url("../images/jia.png");}